body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.notteknekteneContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #f3f4f6;
  min-height: 100vh;
  min-width: 100vw;
}

.welcomeMessageContainer {
  text-align: center;
}

.welcomeMessage {
  font-size: 2rem;
  margin-bottom: 10px;
}

.roundNumber {
  font-size: 1.5rem;
  color: #555;
}

.roundRankNumber {
  font-size: 2rem;
}

.infoCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.infoCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.infoCard h2 {
  margin: 0 0 10px;
  font-size: 1.25rem;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent p {
  margin: 0 0 0 10px;
  font-size: 1rem;
}

.activeIcon {
  color: #f39c12;
  font-size: 2rem;
}

.submittedIcon {
  color: #27ae60;
  font-size: 2rem;
}

.inactiveIcon {
  color: #e74c3c;
  font-size: 2rem;
}

/* Logg ut-knapp for mobil */
.logoutButtonMobile {
  display: none;
  position: fixed;
  bottom: 15%;
  left: 50%;
  font-size: 1.25rem;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logoutButtonMobile:hover {
  background-color: #c0392b;
}

/* Responsiv design */
@media (max-width: 768px) {
  .notteknekteneContent {
    padding: 10px;
    min-width: 100%;
  }

  .welcomeMessageContainer {
    align-self: center;
  }
  .welcomeMessage {
    font-size: 1.5rem;
  }

  .roundNumber {
    font-size: 1.25rem;
  }

  .roundRankNumber {
    font-size: 1.5rem;
  }

  .infoCards {
    grid-template-columns: 1fr;
    gap: 10px;
    align-self: center;
  }

  .infoCard {
    padding: 15px;
  }

  .infoCard h2 {
    font-size: 1rem;
  }

  .cardContent p {
    font-size: 0.875rem;
  }

  .activeIcon,
  .submittedIcon,
  .inactiveIcon {
    font-size: 1.5rem;
  }

  .logoutButtonMobile {
    display: block;
  }
}
