body,
html {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.tableContainer {
  margin-top: 20px;
  width: auto;
  max-width: 50%;
  max-height: 80dvh;
  overflow-x: auto;
  overflow-y: auto;
}

.tableHeader {
  background-color: #f0f0f0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.tableRow:nth-of-type(even) {
  background-color: #f9f9f9;
}

.tableRow:nth-of-type(odd) {
  background-color: white;
}

.mainBox {
  height: 100dvh;
  padding-bottom: 0;
}

.tableRow:hover {
  background-color: #e0e0e0;
}

.tableTitle {
  margin-bottom: 16px;
}

.lastRoundCell {
  border-right: none;
}

.tableCell {
  padding: 8px 16px;
}

@media (max-width: 1440px) {
  .tableContainer {
    max-width: 65%;
    margin-bottom: 15px;
  }
}

@media (max-width: 1024px) {
  .tableContainer {
    max-width: 95%;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .tableContainer {
    max-width: 100%;
    padding-bottom: 20px;
  }

  .mainBox {
    padding: 0;
    overflow-x: auto;
  }

  .tableHeader {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .tableTitle {
    padding: 1rem;
  }

  .tableTitle h4 {
    margin-bottom: 0;
  }

  .mainBox Button {
    margin-left: 1rem;
  }
}

/* @media (max-width: 425px) {
  .tableContainer {
    max-width: 80%;
  }
}

@media (max-width: 375px) {
  .tableContainer {
    max-width: 80%;
  }
} */
