.tableContainer {
  margin-top: 20px;
  max-width: 70%;
  overflow-x: auto;
}

.tableHeader {
  background-color: #f0f0f0;
  font-weight: bold;
}

.tableRow:nth-of-type(even) {
  background-color: #f9f9f9;
}

.tableRow:nth-of-type(odd) {
  background-color: white;
}

.buttonContainer {
  margin-bottom: 16px;
  background-color: #6b21a8;
}

.mainBox {
  padding: 16px;
  overflow-x: auto;
}

.tableRow:hover {
  background-color: #e0e0e0;
}

.tableTitle {
  margin-bottom: 16px;
}

.lastRoundCell {
  border-right: none;
}

.tableCell {
  padding: 8px 16px;
}

/* Table sizes */

.rankCell {
  text-align: center;
}

.nameCell {
  border-right: 2px solid #777;
  text-align: left;
}

.roundCell {
  border-right: 2px solid #aaa;
  text-align: center;
}

.totalColumn {
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
  .mainBox {
    padding: 0;
    overflow: auto;
  }
  .tableContainer {
    max-width: 100%;
    overflow: auto;
  }

  .nameCell {
    text-align: left;
  }

  .tableRow {
    flex-wrap: nowrap;
  }

  .table {
    display: block;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }
}
