.participants-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.participants-table th,
.participants-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.participants-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.participants-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.participants-table tr:hover {
  background-color: #f1f1f1;
}

.participantsContainer {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
}

.participantsList {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

.participantsList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.participating {
  background-color: #4caf50;
  color: white;
}

.participantsList li:nth-child(even) {
  background-color: #f9f9f9;
}

.participantsList li:hover {
  background-color: #f1f1f1;
}

.nameInput {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editButton {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.editButton:hover {
  background-color: #1976d2;
}

.saveButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.saveButton:hover {
  background-color: #388e3c;
}

.cancelButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.cancelButton:hover {
  background-color: #d32f2f;
}

.deleteButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.deleteButton:hover {
  background-color: #d32f2f;
}
